*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 900;
}

p{
    font-weight: 600;
}

.head{
    align-items: center;
    text-align: center;
}

.main-content{
    padding: 20px;
    background-color: rgb(23, 26, 31);
    min-height: 720px;
    min-width: 1280px;
    border-radius: 10px;
}
